@charset "utf-8";

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color: blue;
}
#form {
    width: 100%;
    height: auto;
}
form {
    background-color: white;
    width: 50%;
    box-shadow: 0 4px 8px #999;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 1em;
    font-size: large;
    border: 1px solid gray;
}

input:focus, textarea:focus {
   border-color: lightblue !important;
}

input:invalid, textarea:invalid {
    border-color: red;
}
input:valid, textarea:valid {
    border-color: green;
}
label {
    display: inline-block;
    padding-bottom: 5px;
    font-weight: bold;
}
span {
    position: relative;
}

input:invalid + span::before, textarea:invalid + span::before  {
    content: '✖';
    color: red;
}
input:valid + span::before, textarea:valid + span::before{
    content: '✓';
    color: green;
}
input + span::before {
    position: absolute;
    left: 610px;
    bottom: 47px;
}
textarea + span::before {
    position: absolute;
    left: 607px;
    bottom: 115px;
}

#firsttextinput {
    height: 2em;
}
#firsttextinput:focus {
    font-weight: 100;
    border: 1px solid darkblue;
}
#emailinput {
    height: 2em;
}
#sendmsgbutton {
    color: darkblue;
    background-color: white;
    padding: 10px;
    font-weight: bold;
    border: 2px solid darkblue;
    border-radius: 10px;
}
#sendmsgbutton:hover {
   background-color: blue;
   color: white;
   cursor: pointer;
}
#sendmsgbutton:active {
    background-color: mediumaquamarine;
   color: blue;
}

footer {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: blue;
}
@media screen and (max-width: 768px) {
    form {
        width: 80%;
    }
    #sendmsgbutton  {
        width: 100%;
    }
}