@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@font-face {
    font-family: "android";
    src: url(fontes/idroid.otf) format('opentype');
}
:root {
    --cor1:#21B886;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font1: 'Staatliches', cursive;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
      margin: 0px;
     /* background-color: rgb(253, 234, 238); */
     background-color: var(--cor1);
    
}
header{
    background-image: linear-gradient(to bottom, #3DDC84, #063D1E);
    margin: 0px;
    padding: 20px;
    height: 165px;
    width: auto;
    min-height: 150px;
    padding-top: 40px;
}
.titulo {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    color: white;
    font-family: var(--font1);
    letter-spacing: 3px;
    margin-bottom: 30px;
    text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.719);
    transition-duration: .5s;
}
header > p {
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 25px;
    text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.719);
    transition-duration: .5s;
    max-width: 600px; 
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 10px;
}
nav {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    padding: 10px;
}
nav > a {
    transition-duration: .5s;
    color: gray;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;  
    font-size: 18px;
}
nav > a:hover {
    background-color: var(--cor1);
    padding: 10px;
    color: white;
    border-radius: 5px;
}
nav > a:active {
    background-color: rgb(243, 243, 181);
    color: gray;
}

main {
    background-color: white;
    width: auto;
    height: auto;
    border: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 4px 16px rgb(163, 163, 163);
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    
}
main > h1 {
    background-image: linear-gradient(to right, rgb(169, 255, 169), transparent);
    color: green;
    font-family: "android";
    font-weight: normal;
    font-size: 1.8em;
    text-indent: 8px;
}
main p {
    margin: 15px 0px;
    text-align: justify;
    font-size: 1em;
    line-height: 2em;
}
main img {
    width: 100%;
}
 .H2 {
    font-family: "android";
    color: green;
    background-image: linear-gradient(to right, rgb(169, 255, 169), transparent);
    font-size: 18px;
    height: 23px;
    padding: 2px;
    text-indent: 10px;
    font-weight: normal;
}
.version1 {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 30px;
}
.autor {
    background-color: rgb(148, 255, 148);
    padding: 3px;
    text-decoration: none;
    color: rgb(12, 47, 12); ;
    font-weight: bolder;
}
.autor:hover {
    text-decoration: underline;
    color: green;
}
.autor:active {
    color: white;
}
.autor::after {
    content: '\1F517';
}
.autor2 {
    color: rgb(12, 47, 12);
    font-weight: 600;
    text-decoration: none;
}
h1#sech1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(98, 182, 98);
    color: white;
    height: 31px;
    width: auto;
    margin: 0px;
    padding: 10px;
    box-shadow: 0px -2px 10px 0px rgb(98 182 98);
    border-radius: 10px 10px 0px 0px;
}
.caix {
    background-color: rgb(196, 231, 196);
    height: auto;
    width: auto;
    margin: 0px;
    padding: 13px;
    box-shadow: 0px -2px 10px 0px rgb(98 182 98);
}
.caix  ul {
    list-style-type: '\00A0\2714\00A0';
    list-style-position: inside;
    columns: 2;
}
.ftext {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    text-indent: 30px;
}
footer {
     font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: green;
    height: 25px;
    text-align: center;
    padding: 3px;
}
.namef {
    color: white;
}
.image {
    text-align: center;
    max-width: 350px;
    margin: auto;
  
}
.video {
    background-color: #045C3E;
    margin: 0px -20px;
    margin-bottom: 30px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}
.video > iframe {
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
}
.backtotop {
    background-color: #3DDC84;
    border: #3DDC84;
    width: 70px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    position: fixed;
    right: 10px;
    bottom: 0;
    margin-bottom: 10px;
}
.backtotop:hover {
    background-color: #063D1E;
    border: 1px solid white;
    box-shadow: 1px 1px 1px 0px white;
}
.backtotop:active {
    background-color: #97ffc4;
    border: 1px solid white;
    box-shadow: 1px 1px 1px 0px white;
}