@charset "utf-8";
body {
    background-image: linear-gradient(to bottom, blue, lightskyblue); 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#calculatorbox  {
    margin: auto;
    background-color: black;
    width: 300px;
    height: 630px;
    padding: 10px;
    border-radius: 20px;
}
#title {
    padding: 0;
    margin: 0;
    font-size: small;
    font-weight: none;
}
#showinc {
    background-color: black;
    color: white;
    margin-left: 20px;
    height: 56px;
    width: 281px;
    font-size: xx-large;
    text-align: right;
    outline: none;
    border-color: black;
}
#showresult {
    background-color: black;
    margin-left: 20px;
    height: 40px;
    width: 281px;
    color: white;
    text-align: right;
    font-size: x-large;
    outline: none;
    border-color: black;
}
.boxes {
    margin-top: 60px;
    background-color: rgb(88, 88, 88);
    width: 25px;
    height: 25px;
    padding: 15px;
    font-size: large;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.boxes:hover {
    background-color: rgb(0, 96, 134);
}
.boxes:active {
    background-color: rgba(255, 255, 255, 0.657);
    color: black;
}
.numbers {
    position: relative;
    top: 80px;
    margin-right: 4px;
    margin-top: 7px;
    background-color: rgb(88, 88, 88);
    width: 25px;
    height: 25px;
    padding: 15px;
    font-size: large;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
}
.numbers:hover {
    background-color: rgb(0, 96, 134);
}
.numbers:active {
    background-color: rgba(255, 255, 255, 0.657);
    color: black;
}
#equal {
    position: absolute;
    top: 439px;
    right: 475px;
    font-size: x-large;
    height: 107px;
    padding: 20px;
    border-radius: 15px;
}
#equal > span {
    position: absolute;
    top: 55px;
    left: 28px;
}
#equal:hover {
    background-color: rgb(44, 44, 133);
    padding: 21px;
}
#equal:active {
    background-color: rgb(74, 74, 219);
    color: white;
}
#clear {
    position: absolute;
    top: 90px;
    left: 475px;
    border-radius: 15px;
}
#clear:hover {
    padding: 18px;
}
#divide {
     font-size: x-large;
     padding: 17px;
     position: absolute;
     top: 90px;
     left: 542px;
     border-radius: 15px;
}
#divide:hover {
    padding: 18px;
}
#subtration {
    font-size: xx-large;
    padding: 18px;
    position: absolute;
    top: 155px;
    left: 705px;
    border-radius: 20px;
}
#subtration:hover {
    padding: 19px;
}
#subtration > span {
    position: absolute;
    top: 12px;
    left: 26px;
}
#addup {
    position: absolute;
    top: 220px;
    left: 705px;
    border-radius: 15px;
    padding: 19px;
}
#addup:hover {
    padding: 20px;
}
#multiply {
    position: absolute;
    top: 90px;
    left: 610px;
    width: 30px;
    font-size: large;
    padding-bottom: 18px;
    border-radius: 18px;
}
#multiply:hover {
    padding: 18px 15px;
}
#multiply > span {
    position: absolute;
    top: 18px;
    left: 25px;
}
#doc {
    font-size: large;
    font-weight: bolder;
    padding: 18px;
    position: absolute;
    top: 90px;
    left: 705px;
    border-radius: 20px;
}
#doc:hover {
    padding: 20px;
}