@charset "utf-8";
body {
    background-image: linear-gradient(to top, #7A0CE8, #0C55F2); 
    background-position: center center;
    background-size: 100vh;
    background-attachment: fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#formobile {
    padding: 0;
    margin: 0;
    font-size: small;
    font-weight: none;
}
#calculatorbox  {
    margin: auto;
    margin-top: 50px;
    background-color: black;
    width: 300px;
    height: 480px;
    padding: 10px;
    border-radius: 20px;
}
#title {
    padding: 0;
    margin: 0;
    font-size: small;
    font-weight: none;
}
#showinc {
    background-color: black;
    color: white;
    margin-left: 20px;
    height: 56px;
    width: 281px;
    font-size: xx-large;
    text-align: right;
    outline: none;
    border-color: black;
}
#showresult {
    background-color: black;
    margin-left: 20px;
    height: 40px;
    width: 281px;
    color: white;
    text-align: right;
    font-size: x-large;
    outline: none;
    border-color: black;
}
.boxes {
    margin-top: 60px;
    background-color: rgb(88, 88, 88);
    width: 25px;
    height: 25px;
    padding: 15px;
    font-size: large;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.boxes2 {
    margin-top: 60px;
    background-color: rgb(88, 88, 88);
    width: 25px;
    height: 25px;
    padding: 15px;
    font-size: large;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.boxes:hover {
    background-color: #3E0CF2;
}
.boxes:active {
    background-color: rgba(255, 255, 255, 0.657);
    color: black;
}
.boxes2:active {
    background-color: blue;
}
.numbers {
    position: relative;
    top: 80px;
    left: 20px;
    margin: auto;
    margin-top: 7px;
    background-color: rgb(88, 88, 88);
    width: 25px;
    height: 25px;
    padding: 15px;
    font-size: large;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
}
.numbers2 {
    position: relative;
    top: 80px;
    left: 20px;
    margin: auto;
    margin-top: 7px;
    background-color: rgb(88, 88, 88);
    width: 25px;
    height: 25px;
    padding: 15px;
    font-size: large;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
}
.numbers:hover {
    background-color: #0C55F2;
}
.numbers:active {
    background-color: rgba(255, 255, 255, 0.657);
    color: black;
}
.numbers2:active {
    background-color: blue;
}
#equal {
    position: relative;
    top: -847px;
    left: 205px;
    font-size: x-large;
    height: 137px;
    padding: 20px;
    border-radius: 15px;
}
#equal > span {
    position: absolute;
    top: 62px;
    left: 28px;
}
#equal:hover {
    background-color: #7A0CE8;
    padding: 21px;
}
#equal:active {
    background-color: rgb(74, 74, 219);
    color: white;
}
#clear {
    position: relative;
    top: -281px;
    left: 20px;
    border-radius: 15px;
}
#clear > span {
    position: absolute;
    top: 18px;
    left: 22px;
}
#divide {
     font-size: x-large;
     position: relative;
     top: -396px;
     left: 81px;
     border-radius: 15px;
}
#subtration {
    font-size: xx-large;
    padding: 18px;
    position: relative;
    top: -746px;
    left: 205px;
    border-radius: 15px;
}
#subtration > span {
    position: absolute;
    top: 12px;
    left: 24px;
}
#addup {
    font-size: 20px;
    position: relative;
    top: -799px;
    left: 205px;
    border-radius: 15px;
    padding: 18px;
}
#multiply {
    position: relative;
    top: -512px;
    left: 141px;
    font-size: large;
    padding-bottom: 15px;
    border-radius: 15px;
}
#multiply > span {
    position: absolute;
    top: 18px;
    left: 23px;
}
#zero {
    position: relative;
    top: 90px;
    left: 20px;
    background-color: rgb(88, 88, 88);
    color: white;
    width: 80px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}
#zero:hover {
    background-color: #000BDB;
}
#doc {
    font-size: large;
    font-weight: bolder;
    padding: 15px;
    position: relative;
    top: -374px;
    left: 145px;
    height: 27px;
    width: 24px;
    border-radius: 13px;
}
#doc:hover {
    background-color: #0C55F2;
}