@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    background-color: white;
    min-height: 100vh;
}
::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}
::-webkit-scrollbar-track {
    background-image: linear-gradient(to bottom, lightblue, black);
}
::-webkit-scrollbar-thumb {
   /* background-color: white; */
   background-image: linear-gradient(to top, lightskyblue, white);
    border-radius: 30px;
}
header {
    text-align: center;
    background-color: black;
    padding: 40px; 
}
/*O font-variant coloca as inicias maiores no uppercase, o text-transform não.*/
header h1 {
    font-family: var(--fonte2);
    color: white;
   /* text-transform: uppercase;*/
    font-variant: small-caps;
    padding-top: 50px; 
    font-size: 10vw;
}
header p {
    color: gray;
}
header a, footer a {
    color: white;
    text-decoration: none;
}
header a:hover, footer a:hover {
    text-decoration: underline;
    font-weight: bolder;
}
section {
    font-size: 5vh;
    font-family: var(--fonte2);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
}
section.normal {
    font-weight: bolder;
    color: black;
}
section.normal > ul {
    padding-left: 30px;
}
section.image {
    color: white;
}
section.image > ul {
    background-color: rgba(0, 0, 0, 0.123);
    width: 500px;
    padding-left: 30px;
}
#img1 {
    background: gray url('imagens/background001.jpg') center center fixed;
    background-size: cover;
}
#img2 {
    background: gray url('imagens/background002.jpg') center center fixed;
    background-size: cover;
}
.scroll {
    font-size: 80px;
    position: fixed;
    right: 0;
    bottom: 0;
}
.scroll:hover{
    cursor: pointer;
    padding: 5px;
}
.text {
    color: rgb(128, 83, 0);
    font-weight: bolder;
    font-size: 18px;
    font-variant: small-caps;
    position: fixed;
    right: 28px;
    bottom: 15px;
}
.text:hover {
    cursor: pointer;
}
footer {
    background-color: black;
    padding: 10px;
    font-family: var(--fonte1);
}
footer p {
    color: gray;
    text-align: center;
}
@media (max-width: 577px) {
    ul {
        font-size: 4vh;
    }
     footer {
        font-size: 13px;
    };
}; 